.h-heading {
  font-size: 27px;
  font-weight: 700;
}

.h-para {
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

@media only screen and (max-width: 576px) {
  .h-heading {
    font-size: 24px;
  }

  .h-para {
    font-size: 16px;
  }
}
