.lead-module {
    .filter-fields {
      padding: 20px;
      border: 1px solid #000000;
      display: flex;
      justify-content: space-between;
      .single-fields {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        button {
          border: none;
          outline: none;
          background: transparent;
        }
      }
    }
  }
  