.parent-pop{
    position: relative;
    .change-btn{
        background-color: #000;
        color: #fff;
    }
    .child-pop{
        position: absolute;
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        top: 50px;
        width: 300px;
        z-index: 1000;
    }
}