@import "../../../../CommonColors.scss";

.inbox-page {
  .inbox-top-btn {
    .tab-btn {
      border: 1px solid $black;
      padding: 10px 20px;
      color: $black;
      font-size: 13px;
      font-weight: 400;
      border: none;
      margin-right: 5px;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 5px;
      &:hover {
        text-decoration: none;
      }
    }
    .tab-btn.active {
      background-color: $mainBlue;
      color: $white;
    }
  }
}

.lead-count{
  color: #fff;
  background-color: green;
  padding: 10px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
