.lead-details{
  background-color: #f8f8f8;
}

.left-lead-section {
  .company-name {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #262e39;
    margin-bottom: 0px;
  }
  .status-select{
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.2);
    outline: none;

  }
  .card {
    .card-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 12px;
      background: rgba(38, 46, 57, .05);
      border: 1px solid #e5e5e5;
    }
    .save-lead-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 12px;
      border: 1px solid #e5e5e5;
    }
    .product-box {
      .my-details {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #a5a5a7;
      }
    }
  }
  .my-card-content {
    background-color: #f9f9f9;
    padding: 10px;
  }
  .lead-btn-box {
    display: flex;
    justify-content: flex-end;
    padding: 12px 0px;
    gap: 10px;
    font-size: 12px;
    .lead-cancel-btn {
      color: #262e39;
      border: 1px solid rgba(0,0,0,.2);
      padding: 6px 16px;
      border-radius: 4px;
      background-color: #fff;
    }

    .lead-save-btn {
      color: #ffffff;
      background-color: #093252;
      border: 1px solid #093252;
      padding: 0px 16px;
      border-radius: 4px;
    }
  }
}

.lead-set-data{
  height: 100vh;
  overflow: auto;
}

.lead-set-data::-webkit-scrollbar {
  display: none;
}

.lead-filter-above {
  padding: 5px;
  .filter-box{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .notes-box {
    display: flex;
    gap: 10px;
    .comment-icon {
      // border: 1px solid red;
      width: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .icon-box{
        height: 42px;
        width: 42px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FAD6A5;
        color: #fff;
      }  
      .notes-cl{
        background-color: #FAD6A5;   
      } 
      .email-cl{
        background-color: #C08081;
      }
      .sms-cl{
        background-color: #5C5248;
      }
      .line {
        border: 1px solid rgba(0,0,0,.2);
        height: 100%;
      }
    }
    .side-notes {
      width: 100%;
      .comment-above {
        background-color: #093252;
        margin: 0;
        padding: 5px 10px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .write-heading {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 0px;
          color: #fff;
        }
      }
      .comment-below {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.2);
        padding: 5px 10px;
        margin-top: 0px;
        position: relative;
        top: -7px;
        display: flex;
        justify-content: flex-end;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        
        .comment-btn {
          padding: 5px 10px;
          font-size: 14px;
          background: #093252;
          color: #fff;
          outline: none;
          border: none;
          cursor: pointer;
          border-radius: 4px;
          font-weight: 400;
        }
      }

      .text-area-box {
        min-height: 200px;
        width: 100%;
        resize: none;
        padding: 10px;
        border: 1px solid rgba(0,0,0, .2);
        border-radius: 4px;
        // border-radius: 4px;
      }
      .text-display-box{
        width: 100%;
        resize: none;
        padding: 10px;
        border: 1px solid gray;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      .text-area-box:focus {
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}
