.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // border: 1px solid red;
  min-height: 50vh;
  .left-image-box {
    min-height: 55vh;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .right-section {
    padding: 0px 10px;
    .hero-text {
      color: #093252;
      .big-head {
        font-size: 80px;
        font-weight: 800;
        line-height: 90px;
      }
      .small-head {
        font-size: 46px;
        font-weight: 400;
        line-height: 70px;
      }
    }
    .hero-button {
      display: flex;
      padding: 25px 0px;
      .left-btn {
        flex: 1;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        padding: 12px 24px;
        background-color: #093252;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 4px;
      }
      .right-btn {
        flex: 1;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        padding: 12px 24px;
        background-color: #fff;
        color: #093252;
        border: none;
        outline: none;
        border-radius: 4px;
      }
    }
    .forever-text {
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      color: #000000;
    }
  }
}

.home-hero {
  min-height: 60vh;
  .hero-text {
    .large-text {
      font-size: 40px;
      font-weight: 600;
      span {
        color: #2d69e6;
      }
    }
    .hero-para {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      text-align: justify;
    }
    .list-data {
      li {
        font-size: 18px;
        margin-bottom: 6px;
        i{
          color: #03d079;
        }
      }
    }
  }
  .image-section {
    flex: 1;
  }
  .text-section {
    flex: 1;
  }
}

@media only screen and (max-width: 576px) {
  .home-hero {
    min-height: 60vh;
    .hero-text {
      .large-text {
        font-size: 30px;
      }
      .hero-para {
        font-size: 16px;
      }
      .list-data {
        li {
          font-size: 16px;
        }
      }
    }
  }
}
