.jump-section{
    background-color: #000;
    color: #fff;
    .jump-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff !important;
    }
    .jump-boxes{
        display: grid;
        grid-template-columns: 250px 250px 250px;
        justify-content: center;
        padding: 20px 0px;
        gap: 10px;
    }
}


@media only screen and (max-width: 768px){
    .jump-section{
        .jump-boxes{
            grid-template-columns: 250px;
        }
    }
}