.cm-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
  gap: 30px;
  .cm-heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #1c1c1c;
  }
  .cm-input-box {
    position: relative;
    background-color: #ebeef0;
    .cm-icon {
      position: absolute;
      display: inline-table;
      top: 0;
      bottom: 0;
      margin: auto 0;
      left: 20px;
      color: #0067ff;
    }
    .cm-input {
      padding: 12px 36px;
      padding-left: 55px;
      background-color: #ebeef0;
      border: 1px solid rgba(0, 103, 255, .2);
      min-width: 550px;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
      ::placeholder {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  //   remember text
  .remember {
    min-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .agree-text {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  //   not user
  .note-user {
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
  }
}


@media only screen and (max-width: 768px){
    .cm-box{
        .cm-input-box{
            .cm-input{
                min-width: 480px;
            }
        }
        .remember{
            min-width: auto;
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media only screen and (max-width: 768px){
    .cm-box{
        .cm-input-box{
            .cm-input{
                min-width: 100%;
            }
        }
    }
}