.login-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  // background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  .login-form {
    width: 85%;
    background-color: #fff;
    min-height: 600px;
    .left-login {
      background-image: url("https://i.pinimg.com/564x/55/c6/c5/55c6c5f028d6da5fc7bcf1565a404211.jpg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      .logo-image {
        padding: 20px;
        img {
          height: 100px;
        }
      }
    }
    .right-login {
      padding: 10px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      .main-logo {
        font-size: 35px;
        font-weight: 700;
        line-height: 26px;
        color: #0067ff;
      }
      .signup-text {
        text-align: center;
        padding: 20px 0px;
        .start-text {
          font-size: 22px;
          font-weight: 700;
          line-height: 26px;
          text-align: center;
          margin-bottom: 20px;
        }
        .text-points {
          font-size: 16px;
          font-weight: 400;
          line-height: 14px;
          display: flex;
          justify-content: center;
          gap: 12px;
        }
      }
      .input-element {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px 0px;
        .inp-label {
          font-size: 16px;
          font-weight: 400;
          line-height: 14px;
          color: #2d3748;
        }
        .input-design {
          width: 100%;
          width: 100%;
          padding: 8px 16px;
          border: 1px solid rgba(0, 103, 255, 0.2);
          border-radius: 4px;
          background: #ebeef0;
          &:focus {
            outline: none;
          }
        }
      }
      .check-boxes {
        padding: 20px 0px;
        display: flex;
        justify-content: center;
        .item-center {
          display: flex;
          align-items: center;
          padding-bottom: 15px;
          .box-input {
            height: 15px;
            width: 15px;
            border: 1px solid #d1d1d1;
          }
          .box-label {
            margin: 0px;
            margin-left: 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 14px;
          }
        }
      }
      .heading-text {
        font-size: 32px;
        text-align: center;
        font-weight: 600;
        color: #2b62f9;
        text-transform: uppercase;
      }

      .center-btn {
        display: flex;
        padding: 10px 0px;
        justify-content: center;
      }
      .dont-account {
        margin-top: 5px;
        font-size: 15px;
        color: gray;
        text-align: center;
      }
    }
  }
}

// logo header css

.logo-header {
  padding: 20px 24px;
  .logo-icon {
    font-size: 40px;
    font-weight: 700;
    line-height: 26px;
    color: #0067ff;
  }
}

@media only screen and (max-width: 992px) {
  .login-page {
    height: auto;
    .login-form {
      grid-template-columns: 1fr;
      .left-login {
        display: none;
      }
      .right-login {
        .input-element {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .login-page {
    .login-form {
      grid-template-columns: 1fr;
      .right-login {
        .signup-text {
          .text-points {
            flex-direction: column;
            span {
              display: none;
            }
          }
        }
        .check-boxes {
          .item-center {
            .box-label {
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .login-page {
    .login-form {
      .right-login {
        .center-btn {
          justify-content: center;
        }
        .dont-account {
          text-align: center;
        }
      }
    }
  }
}
