.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    .erp-image{
        height: 55px;
        width: 90px;
        .main-logo-image{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .erp-text{
        font-size: 25px;
        color:  #093252;
        font-weight: 400;
    }
}