.otp-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  min-height: 70vh;
  gap: 20px;
  .otp-heading {
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
  }
  .otp-number {
    font-size: 16px;
    line-height: 40px;
  }
  .input-boxes {
    display: flex;
    gap: 25px;
    .single-input {
      height: 70px;
      width: 70px;
      border-radius: 5px;
      border: 1px solid #093252;
      padding: 20px;
      text-align: center;
      &:focus {
        outline: none;
      }
    }
  }
  .resend-timer{
    margin: 40px 0px !important;
    div{
      button{
        background-color: #fff !important;
        span{
          font-size: 16px !important;
          line-height: 19px !important;
          color:#0067FF !important;
          margin: 40px 0px !important;
          outline: none !important;
          border: none !important;
          // background-color: white;
        }
      }
    }
  }
  // .resend-text{
  //   font-size: 16px !important;
  //   line-height: 19px !important;
  //   color: #093252 !important;
  //   margin: 40px 0px !important;
  //   outline: none !important;
  //   border: none !important;
  //   cursor: pointer !important;
  //   span{
  //     color: red;
  //   }
  // }
}

@media only screen and (max-width: 576px) {
  .otp-page {
    .otp-heading {
      font-size: 28px;
    }
    .input-boxes {
      gap: 10px;
      .single-input {
        height: 55px;
        width: 55px;
      }
    }
  }
}
