.main-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
  gap: 10px;
  .circle-tik {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #00ff87;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ff87;
    .check-icon {
      font-size: 20px;
      font-size: 35px;
      font-weight: 600;
      color: #fff;
    }
  }
  .update-message {
    margin: 5px 0px;
    font-size: 26px;
    font-weight: 400;
  }
  
}
