@import "../../CommonColors.scss";

.main-page {
  background-color: $mainBlue;
  color: $white;
  display: flex;
  height: 100vh;
  .side-nav {
    width: 200px;
    position: sticky;
    top: 0;
    overflow: auto;
    padding: 0px;
  }
  .right-data {
    background-color: $white;
    flex: 10;
    color: $black;
    overflow: auto;
  }
}
