.sideTab{
    padding: 20px 0px;
    .side-tabs{
        padding: 8px;
        .nav-heading.active{
            font-weight: 800;
            color: #fff;            
        }
        .link-child{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            .link-itemss{
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                color: #fff;
                padding-left: 35px;
            }
        }
    }
}