.sideTab {
  padding: 0px;

  .user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
     flex-wrap: wrap;
     gap: 10px;
     padding: 6px 12px;
     background-color: transparent;
      padding: 8px;
      background: #042742;
     .profile-image {
       height: 40px;
       width: 40px;
       border-radius: 50%;
       overflow: hidden;
       img {
        width: 100%;
        height: 100%;
        object-fit: cover;
       }
     }
     .profile-info {
       h4 {
         font-size: 16px;
         font-weight: 400;
         line-height: 15px;
         margin-bottom: 0px;
         margin-bottom: 3px;
       }
       h6 {
         font-size: 12px;
         font-weight: 400;
         line-height: 15px;
         margin-bottom: 0px;
       }
     }
   }



  .corpseed-logo {
    padding-top: 20px;
    padding-bottom: 50px;
    .logo-image {
      height: 70px;
      width: 120px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .side-tabs {
    padding: 10px 10px;
    transition: all 1s ease-in-out;
    .nav-heading.active {
      font-weight: 600;
      color: #fff;

    }
    .link-child {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 16px;
      .link-itemss {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: #fff;
        padding-left: 35px;
        i{
          width: 20px;
        }
        &:hover {
          text-decoration: none;
        }
      }
      .link-itemss.active {
        font-weight: 600;
      }
    }
  }
}
