.enquiry {
  position: relative;
  z-index: 1000;
  .enq-tab {
    position: absolute;
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px 20px;
    right: 5px;
    top: 25px;
    background-color: #fff;
    .enq-title {
      font-weight: 500;
      text-transform: uppercase;
    }
    .enq-subject {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 5px;
    }
    .enq-message {
      width: 100%;
      height: 100px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 5px;
    }
  }
}
