.side-max-img{
    height: 400px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 10px 20px rgba(0,0,0,.1);
        img{
        height: 100%;
        width: 100%;
    }
}