@import "../SCSS/Colors.scss";
@import "../SCSS/CommonStyle.scss";

.top-navbar {
  padding: 10px 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  // box-shadow: 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.05);
  .top-search-box {
    position: relative;
    .search-box {
      border: none;
      outline: none;
      background: #f9f9f9;
      padding: 6px 35px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      &:focus {
        outline: none;
      }
    }
    .search-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 22px;
      left: 14px;
      color: gray;
    }
  }
  .user-profile {
    @include all-center;
    flex-wrap: wrap;
    gap: 10px;
    .profile-image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden;
      img {
        @include image-cover;
      }
    }
    .profile-info {
      h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 0px;
        margin-bottom: 3px;
      }
      h5 {
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 0px;
      }
    }
  }
}
