@import "../SCSS/Colors.scss";
@import "../SCSS/CommonStyle.scss";


.top-navbar {
  padding: 10px 20px;
  background-color: azure;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  .search-box {
    border: none;
    padding: 4px 8px;
    border: 1px solid $blue;
    &:focus {
      outline: none;
    }
  }
  .user-profile {
   @include all-center;
    flex-wrap: wrap;
    gap: 10px;
    .profile-image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden;
      img {
        @include image-cover;
      }
    }
    .profile-info {
      h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 0px;
        margin-bottom: 3px;
      }
      h5 {
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 0px;
      }
    }
  }
}
