.display-lead {
  padding: 20px 0px;
  display: flex;
  width: 100%;
  overflow: auto;
  .lead-main-box {
    .lead-demo {
      font-size: 11px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.5px;
      width: 350px;
      padding: 0px 20px;

      .demo-box {
        background: #ffbd2e;
        color: #000;
        width: fit-content;
        padding: 5px;
        border-radius: 10px;
      }
    }
    .analyze-value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;
      background: #eef7fb;
      padding: 20px 30px;
      gap: 10px;
      .value {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.5px;
        margin-bottom: 0px;
      }
      .price {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 0px;
      }
    }
    .all-leads {
      padding: 20px;
      background: #eef7fb;
      height: 450px;
      overflow: auto;
    }
    .all-leads::-webkit-scrollbar {
      // display: none;
      width: 2px;
      background: lightgray;
    }
  }
}

.display-lead::-webkit-scrollbar {
  height: 5px;
  background: lightgray;
}
