.estimate-ui-design{
   position: absolute;
   right: 0px;
   top: 0px;
   background-color: #fff;
   z-index: 1000;
   height: 100vh;
   width: 700px;
   border: 1px solid #e5e5e5;
   padding: 10px;
    .estimate-close{
        height: 20px;
        width: 20px;
        position: relative;
        left: -30px;
        top: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: gray;
        color: #fff;
        border: none;
    }
    .estimate-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .estimate-text{
            font-size: 20px;
            color: #6a8dec;
            margin-bottom: 0px;
        }
        .estimate-tabs{
            color: #262e39;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 6px 16px;
            border-radius: 4px;
            background-color: #fff;
            margin-left: 5px;
            font-size: 13px;
        }

    }
    .estimate-action{
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
    }
    .estimate-date{
        display: flex;
        p{
            margin-bottom: 0px;
            font-size: 16px;
            color: gray;
        }
        p:first-child{
            margin-right: 20px;
        }
    }
    .invoice-box{
        border: 1px solid #e4e4e4;
        padding: 5px;
        .brand-logo{
            height: 70px;
            width: 70px;
            background-color: gray;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .estimate-table{
        font-size: 12px;
        thead{
            background-color: #28a745;
            color: #fff;    
        }
    }
    .estimate-words{
        display: flex;
        justify-content: flex-end;
        p{
            font-size: 14px;
        }
    }
   
}