.lead-module {
  .filter-fields {
    padding: 20px;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    .single-fields {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      button {
        border: none;
        outline: none;
        background: transparent;
      }
    }
  }
  .bottom-line{
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border: 1px solid #fff;
    box-shadow: 0px 15px 20px rgba(0,0,0,.2); 
    bottom: 20px; 
    // width: 100%; 
    background-color: #fff;

  }
}
