.setting {
  display: grid;
  grid-template-columns: 200px 1fr;
  .side-links {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    min-height: calc(100vh - 60px);
    padding: 15px;
  }
  .side-data {
    padding: 15px;
  }
}
