* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

:root {
  --mainBlue: #093252;
  --white: #ffffff;
  --black: #000000;
  --main-green: #28a745;
}

/* common classes */

a {
  color: var(--mainBlue);
  text-decoration: none;
}

a:hover {
  color: var(--black);
  text-decoration: none;
}

.blur-cl {
  color: var(--mainBlue);
}

/* .green-cl{
  color: var(--main-green);
}
*/

.disk-size {
  font-size: 22px;
}

.gray-cl {
  color: #767373;
}

.pos-fix {
  position: fixed;
}

button:focus {
  outline: none;
}

.out-none:hover {
  text-decoration: none;
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-line {
  display: flex;
  align-items: center;
  gap: 10px;
}

.common-btn-one {
  color: #ffffff;
  background-color: #093252;
  border: 1px solid #093252;
  padding: 2px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.common-btn-one:hover {
  color: #fff;
}

.noti-view {
  font-weight: 600;
}

.d-end {
  display: flex;
  justify-content: flex-end;
}

.min-box {
  max-height: 250px;
  overflow-y: auto;
}

.min-box::-webkit-scrollbar {
  width: 2px;
  background-color: rgb(180, 171, 171);
  height: 10px;
}

.circle-image {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fad6a5;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.all-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white);
  cursor: pointer;
}

.nav-heading:hover {
  color: var(--white);
  text-decoration: none;
}

.cm-padding-one {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.small-box-padding {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
}

.main-heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

.login-button {
  width: 35%;
  padding: 12px 24px;
  border: none;
  outline: none;
  color: var(--white);
  background: var(--mainBlue);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.login-button:focus {
  outline: none;
}

.login-button:hover {
  text-decoration: none;
  color: var(--white);
}

/* common in inbox  */
.lead-heading {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #262e39;
  margin: 0;
}

.lead-bold {
  text-transform: uppercase;
  font-size: 13px;
}

.lead-location {
  font-size: 14px;
  color: #555555;
  margin: 3px 0px;
}

.lead-blue-head {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #093252;
  margin: 0;
}

.lead-sm-heading {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: #464a55;
}

.lead-cm-input {
  padding: 4px 8px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
}
.lead-cm-input:focus {
  outline: none;
}

.link-cm:hover {
  text-decoration: none;
}

.text-blue {
  color: #093252;
}

.h-70 {
  height: 70px !important;
}

/* home page css */
.home-section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* home page css */

.errors-new {
  color: #ff0000;
  margin: 0px;
}

.small-cm-btn {
  padding: 4px 8px;
  border: none;
  background-color: #093252;
  color: var(--white);
  border-radius: 4px;
  margin-left: 10px;
}

.hide-design-box {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  color: #262e39;
  margin-bottom: 0px;
}

.assignee-button {
  min-width: 140px;
  border: none;
  outline: none;
  background-color: transparent;
}

.scalaton-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.scalaton-rectangle {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.user-assign-tab {
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 5px 10px;
}

.padding-two {
  padding: 2px 6px !important;
  font-size: 12px;
}

.example::-webkit-scrollbar {
  display: none;
}

/* table data */

.table-main-heading {
  font-size: 18px;
  font-weight: 400;
}

.table-edit-btn {
  border: none;
  outline: none;
  color: #464a55;
}

.table-edit-btn:hover {
  color: #093252;
}

.filter-btn-design {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 12px;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  font-weight: 500;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.min-height-one {
  min-height: 150px;
}

.estimate-btn {
  background-color: var(--mainBlue);
  color: var(--white);
  border: 1px solid var(--mainBlue);
}

.action-btn {
  padding: 6px 12px;
  color: var(--white);
  background-color: var(--mainBlue);
  border: 1px solid var(--mainBlue);
  border-radius: 4px;
}

.d-left-new {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.estimate-btn {
  border: none;
  outline: none;
  color: var(--mainBlue);
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

/* table data */

.table-arrow {
  position: relative;
}

.table-arrow:hover .cm-arrow {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDataGrid-main .css-204u17-MuiDataGrid-main {
  overflow: scroll;
}

.multi-select-boxx {
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  position: relative;
  z-index: 1000;
  width: 250px;
  padding: 3px;
}

.date-input {
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 3px;
}

.bell-box {
  position: relative;
  cursor: pointer;
}

.bell-box .bell-count {
  color: #fff;
  font-size: 13px;
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -5px;
  /* font-weight: 700; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell-box .bell-icon {
  font-size: 25px;
  margin-left: 10px;
  color: #0f0f0f;
}

.multi-select-boxx .p-multiselect-header {
  background-color: #000;
  color: #fff;
}

.p-multiselect-items.p-component {
  background-color: #fff;
  padding: 10px;
}

.task-pending {
  color: #f0ad4e;
  border: 1px solid #f0ad4e;
  padding: 2px 4px;
  border-radius: 4px;
}

.task-done {
  color: #5cb85c;
  border: 1px solid #5cb85c;
  padding: 2px 4px;
  border-radius: 4px;
}

.label-heading {
  font-size: 13px;
}

.form-control.input-focus {
  padding: 3px 6px;
  font-size: 13px;
}

.form-control.input-focus::placeholder {
  font-size: 13px;
}

.form-group {
  margin-bottom: 10px;
}

/* mui table changes */

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: var(--mainBlue) !important;
}

.setting-table {
  padding: 20px 0px;
  font-size: 14px;
}

.font-13 {
  font-size: 13px;
  color: #093252;
}

.btn-trans {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
}

.model-image {
  height: 100%;
  width: 100%;
}

.model-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* estimate */

.estimate-heading {
  font-size: 18px;
  color: #28a745;
  margin-bottom: 0px;
}

.estimate-heading-bold {
  font-size: 18px;
  color: #262e39;
  font-weight: 600;
  margin-bottom: 0px;
}

.estimate-data {
  font-size: 13px;
  /* font-weight: 300; */
  margin-bottom: 0px;
  line-height: 20px;
  color: #262e39;
}

.fw-600 {
  font-weight: 600;
}

.count-data {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #093252;
  position: relative;
  font-size: 13px;
}

.head-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.estimate-bold {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0px;
}

.big-heading {
  font-size: 22px;
  color: #000;
}

/* mui tabkle */

.tss-dbu3l1-MUIDataTableViewCol-formGroup {
  padding: 15px;
}
.css-levciy-MuiTablePagination-displayedRows {
  margin: 0;
}

.css-pdct74-MuiTablePagination-selectLabel {
  margin: 0;
}

.create-btn {
  border: none;
  outline: none;
  background-color: #28a745;
  color: var(--white);
  padding: 6px 12px;
  border-radius: 4px;
}

.create-btn:hover {
  color: var(--white);
  text-decoration: none;
  background-color: #1f8637;
}

.font-changer {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.lead-new {
  color: green;
}

.heading-four {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.link-four {
  font-size: 14px;
  display: block;
}

.custom-box {
  width: 1050px !important;
  overflow: auto;
}

/* mui table */

.create-user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.table-heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}

.create-user-box .create-user-btn {
  border: none;
  outline: none;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
}

.create-user-box .create-user-btn i {
  color: green;
}

.error-display {
  color: #dc3545;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
}

.first-button {
  padding: 0px 60px;
  background: var(--mainBlue);
  border: 1px solid var(--mainBlue);
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.84px;
  color: var(--white);
  outline: none;
  cursor: pointer;
}
/* 
$lightBlue: #1a73e8;
--blue-color: #093252; */

.first-button:hover {
  background: transparent;
  color: #000;
  border: 1px solid var(--mainBlue);
  text-decoration: none;
}

.first-button:focus {
  outline: none;
}

select.form-control:not([size]):not([multiple]) {
  height: auto;
}

.logout-btn {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  color: var(--white);
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .login-button {
    width: 35%;
  }
  /* .login-button.cm-btn{
    width: 60% !important;
  } */
}

@media only screen and (max-width: 576px) {
  .login-button {
    width: 50%;
  }
  .login-button.sign-up {
    width: 100%;
  }
}
