* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

:root {
  --mainBlue: #2b62f9;
  --white: #ffffff;
  --black: #000000;
}

/* common classes */

button:focus {
  outline: none;
}

.out-none:hover{
  text-decoration: none;
}


.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white);
  cursor: pointer;
}

.nav-heading:hover {
  color: #fff;
  text-decoration: none;
}

.cm-padding-one {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.small-box-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

.login-button {
  width: 35%;
  padding: 12px 24px;
  border: none;
  outline: none;
  color: var(--white);
  background: var(--mainBlue);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;


}

.login-button:focus {
  outline: none;
}

.login-button:hover {
  text-decoration: none;
  color: #fff;
}

/* common in inbox  */
.lead-heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #262e39;
  margin: 0;
}

.lead-bold{
  text-transform: uppercase;
  font-size: 13px;
}

.lead-location{
  font-size: 14px;
  color: #555555;
  margin: 3px 0px;
}

.lead-blue-head {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #2b62f9;
  margin: 0;
}

.lead-sm-heading {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: #464a55;
}

.lead-cm-input {
  padding: 4px 8px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}
.lead-cm-input:focus {
  outline: none;
}

.link-cm:hover {
  text-decoration: none;
}

.text-blue {
  color: #007aff;
}

/* home page css */
.home-section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* home page css */

.errors-new{
  color: #ff0000;
  margin: 0px;
} 

.small-cm-btn{
  padding: 4px 8px;
  border: none;
  background-color: #007aff;
  color: #fff;
  border-radius: 4px;
  margin-left: 10px;
}

.hide-design-box{
  border: none;
  outline: none;
  background-color: transparent;
}



.assignee-button{
  min-width: 140px;
  border: none;
  outline: none;
  background-color: transparent;
}

.scalaton-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.scalaton-rectangle{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.user-assign-tab{
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 5px 10px;
}

.padding-two{
  padding: 2px 6px !important;
  font-size: 12px;
}



/* table data */

.table-main-heading{
  font-size: 18px;
  font-weight: 400;
}

.table-edit-btn{
  border: none;
  outline: none;
  color: #464a55;
}

.table-edit-btn:hover{
  color: #007aff;
}


.filter-btn-design{
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 12px;
  color: #000;
  border: 1px solid rgba(0,0,0,.2);
  background-color: #fff;
  font-weight: 500;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.min-height-one{
  min-height: 150px;
}

.estimate-btn{
  background-color: var(--mainBlue);
  color: #fff;
  border: 1px solid var(--mainBlue);
}


.action-btn{
  padding: 6px 12px;
  color: #fff;
  background-color: var(--mainBlue);
  border: 1px solid var(--mainBlue);
  border-radius: 4px;
}

.d-left-new{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.estimate-btn{
  border: none;
  outline: none;
  color: var(--mainBlue);
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}



/* table data */


/* estimate */

.estimate-heading{
    font-size: 18px;
    color: #28a745;
    margin-bottom: 0px;
}

.estimate-heading-bold{
  font-size: 18px;
  color: #262e39;
  font-weight: 600;
  margin-bottom: 0px;
}


.estimate-data{
  font-size: 13px;
  /* font-weight: 300; */
  margin-bottom: 0px;
  line-height: 20px;
  color: #262e39;
}

.estimate-bold{
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0px;
}

.big-heading{
  font-size: 22px;
  color: #000;
}







/* mui tabkle */

.tss-dbu3l1-MUIDataTableViewCol-formGroup{
  padding: 15px;
}
.css-levciy-MuiTablePagination-displayedRows{
  margin: 0;
}

.css-pdct74-MuiTablePagination-selectLabel{
  margin: 0;
}


.create-btn{
  border: none;
  outline: none;
  background-color: #28a745;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
}

.create-btn:hover{
  color: #fff;
  text-decoration: none;
  background-color: #1f8637;
}


/* mui table */


.create-user-box{
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.create-user-box .create-user-btn{
  border: none;
  outline: none;
  background: transparent;
  font-size: 36px;

}

.create-user-box .create-user-btn i{
  color: green;
}

.error-display{
  color: #dc3545;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
}


.first-button {
  padding: 0px 60px;
  padding-bottom: 2px;
  background: var(--mainBlue);
  border: 1px solid var(--mainBlue);
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.84px;
  color: #fff;
  outline: none;
  cursor: pointer;
}
/* 
$lightBlue: #1a73e8;
--blue-color: #2b62f9; */

.first-button:hover {
  background: transparent;
  color: #000;
  border: 1px solid var(--mainBlue);
  text-decoration: none;
}

.first-button:focus {
  outline: none;
}









@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .login-button {
    width: 35%;
  }
  /* .login-button.cm-btn{
    width: 60% !important;
  } */
}

@media only screen and (max-width: 576px) {
  .login-button {
    width: 50%;
  }
  .login-button.sign-up{
    width: 100%;
  }
}
